* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 8vh;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
}

.username {
    margin-right: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.avatar {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 10vw;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    font-size: 1.5em;
}

.user-profile:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu a {
    padding: 10%;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu a:hover {
    background: #eee;
}
