.main-container {
    top: 8vh;
    left: 18vw;
    width: 82vw;
    height: 92vh;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(242, 242, 242, 1);
    padding-left: 1vw;
}