/* Định dạng chung cho sidebar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-bar {

    /* top:0; */
    /* left:0; */
    width: 18vw;
    height: 100vh;
    z-index: 999;
    background-color: #87CEEB; /* Màu xanh dương nhạt */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* position: fixed; */
}

/* Logo thư viện */
.side-bar-logo {
    width: 60%;
    margin-top: 15%;
    margin-bottom: 15%;
}

/* Nút menu */
.side-bar button {
    width: 100%;
    padding: 10% 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    border: none;
    background: none;
    font-size: 300%;
    font-weight: bold;
    color: white;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Biểu tượng FontAwesome */
.side-bar button i {
    font-size: 100%;
}

/* Hiệu ứng khi di chuột */
.side-bar button:hover {
    background-color: #1E90FF; /* Xanh dương đậm */
    color: white;
}

/* Hiệu ứng khi đang ở trang hiện tại */
.side-bar button.active {
    background-color: #1E90FF;
    color: white;
}
