.settings-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 75%;
  border-left: 1px solid #d1d5db;
}

.general, .system{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.general p, .system p{
    font-size: 1rem;
    color: rgb(100, 100, 100);
}

.general button, .system button{
    width: 100%;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 10px;
    background: none;
    font-size: 1rem;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(100, 100, 100);
}

.general button:hover, .system button:hover{
    background-color: rgba(238, 238, 238, 0.512);
    border-radius: 10px;
}

.btn-active{
    color: rgb(37,99,235) !important;
    background-color: rgba(239, 246, 255) !important;
    border-radius: 10px !important;
}

.general-settings-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.general-settings-content h2{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.form{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group label{
    font-size: 1rem;
    color: rgb(100, 100, 100);
}

.form-group input{
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    font-size: 1rem;
}

.form-group-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.form-group-2{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.form-group-2 label{
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}


.form button{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(59, 130, 246);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover{
    background-color: rgb(37, 99, 235);
    border-radius: 10px;
}