<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/components/admin-sidebar/admin-sidebar.css">
</head>
<body>
    <div class="sidebar-container">
        <button class="dashboard" id="dashboard" onclick="window.location.href = '/pages/admin/dashboard/dashboard.html'"> 
            <i class="fa-solid fa-chart-column"></i>
            <span class="dashboard-text">Dashboard</span>
        </button>
        <button class="books" id="books" onclick="window.location.href = '/pages/admin/books/books.html'">
            <i class="fa-solid fa-book"></i>
            <span class="books-text">Books</span>
        </button>
        <button class="users" id="users" onclick="window.location.href = '/pages/admin/users/users.html'">
            <i class="fa-solid fa-user-group"></i>
            <span class="users-text">Users</span>
        </button>
        <button class="borrowings" id="borrowings" onclick="window.location.href = '/pages/admin/borrowings/borrowings.html'">
            <i class="fa-solid fa-clock"></i>
            <span class="borrowings-text">Borrowings</span>
        </button>
        <button class="reports" id="reports" onclick="window.location.href = '/pages/admin/reports/reports.html'">
            <i class="fa-solid fa-chart-line"></i>
            <span class="reports-text">Reports</span>
        </button>
        <button class="settings" id="settings" onclick="window.location.href = '/pages/admin/settings/settings.html'">
            <i class="fa-solid fa-cog"></i>
            <span class="settings-text">Settings</span>
        </button>
        <hr>
        <button class="logout" id="logout" onclick="window.location.href = '/pages/homepage/homepage.html'">
            <i class="fa-solid fa-sign-out"></i>
            <span class="logout-text">Logout</span>
        </button>
    </div>
</body>
</html>