<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="admin-sidebar.css">
</head>
<body>
    <div class="sidebar-container">
        <button class="dashboard" id="dashboard">
            <i class="fa-solid fa-chart-column"></i>
            <span class="dashboard-text">Dashboard</span>
        </button>
        <button class="books" id="books">
            <i class="fa-solid fa-book"></i>
            <span class="books-text">Books</span>
        </button>
        <button class="users" id="users">
            <i class="fa-solid fa-user"></i>
            <span class="users-text">Users</span>
        </button>
        <button class="borrowings" id="borrowings">
            <i class="fa-solid fa-clock"></i>
            <span class="borrowings-text">Borrowings</span>
        </button>
        <button class="reports" id="reports">
            <i class="fa-solid fa-chart-line"></i>
            <span class="reports-text">Reports</span>
        </button>
        <button class="settings" id="settings">
            <i class="fa-solid fa-cog"></i>
            <span class="settings-text">Settings</span>
        </button>
        <hr>
        <button class="logout" id="logout">
            <i class="fa-solid fa-sign-out"></i>
            <span class="logout-text">Logout</span>
        </button>
    </div>
</body>
</html>