<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" href="../css/sidebar.css">
    </head>
    <body>
        <div class="side-bar">
            <img
                src="../images/library-icon.png"
                alt="library-icon"
                class="side-bar-logo"
            />
            <button class="homepage" onclick="window.location.href = 'homepage.html'">
                <i class="fas fa-home"></i>
                <span class="homepage-text">Trang chủ</span>
            </button>
            <button class="book-management" onclick="window.location.href = 'book-management.html'">
                <i class="fas fa-book"></i>
                <span class="book-management-text">Quản lý sách</span>
            </button>
            <button class="reader-management" onclick="window.location.href = 'reader-management.html'">
                <i class="fas fa-users"></i>
                <span class="reader-management-text">Quản lý độc giả</span>
            </button>
            <button class="dashboard" onclick="window.location.href = 'dashboard.html'">
                <i class="fas fa-chart-line"></i>
                <span class="dashboard-text">Thống kê</span>
            </button>
        </div>
    </body>
</html>