.book-details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.book-details-container a {
    text-decoration: none;
    color: #007bff;
    display: block;
    margin-bottom: 20px;
}

.book-details {
    display: flex;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-image-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.book-image {
    width: 200px;
    height: 300px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.book-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}
.borrow-btn {
    background: rgb(29,78,216);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.borrow-btn:hover {
    background: #0056b3;
}

.actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.actions button {
    background: none;
    border: 1px solid rgb(29,78,216);
    color: rgb(29,78,216);
    font-size: 1rem;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.actions button:hover {
    background: rgb(239, 243, 255);
}

.book-info {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 4vh;
    padding: 10px 20px;
    border-left: 1px solid #ddd;
}

.book-info header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.author {
    font-size: 1.5rem;
    color: #555;
}

.meta span {
    display: inline-block;
    margin-right: 10px;
    font-size: 1rem;
    color: #666;
}

.meta i {
    color: #007bff;
}

.description h2 {
    font-size: 1.3rem;
    margin: 0 0 10px 0;
}

.description p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

.details{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.details div{
    display: flex;
    flex-direction: column;
    gap: 10px   ;
    width: 50%;
}

.available {
    color: green;
    font-weight: bold;
}

.review-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.review {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
}

.review-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rate i {
    color: lightgray; /* Default color for all stars */
}

.five-stars i {
    color: gold; /* All 5 stars are gold */
}

.four-stars i:nth-child(-n+4) {
    color: gold; /* First 4 stars are gold */
}

.comment{
    font-size: 1rem;
    color: #555;
}

.date{
    font-size: 0.9rem;
    color: #999;
}

.book-info button{
    background: rgb(243,244,246);
    border:none;
    color: #555;
    font-size: 1rem;
    padding: 15px 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
}

.book-info button:hover{
    background: rgb(229, 231, 235);
}