<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/components/default-footer/default-footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <footer class="footer-container">
        <div class="footer-content">
            <section class="library">
                <h3>LibraryHub</h3>
                <p>Your gateway to knowledge and imagination.</p>
            </section>
            <section class="quick-links">
                <h3>Quick Links</h3>
                <a href="#">Books</a>
                <a href="#">Categories</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
            </section>
            <section class="help">
                <h3>Help & Support</h3>
                <a href="#">FAQs</a>
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
            </section>
            <section class="connect">
                <h3>Connect with us</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
                
            </section>
        </div>
        <hr>
        <div class="rights">
            <p>&copy; 2025 LibraryHub. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>