.page-actions {
    display: flex;
    align-items: center;
    gap: 1vw;
}
  
.page-actions select {
    padding: 1vh 1vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}
  
.page-actions button {
    display: flex;
    padding: 1.5vh 1.5vw;
    border: none;
    border-radius: 10px;
    background: #3b82f6;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    gap: 10px;
}
  
.page-actions button:hover {
    background: #2563eb;
}
  
.reports-stats {
    display: flex;
    padding: 10px 20px;
    gap: 20px;
}
  
.card {
    background: white;
    padding: 19px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}
  
.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.card-number {
    font-size: 2rem;
    font-weight: bold;
}
  
.card-icon-1 {
    /* background: #e0e7ff; */
    padding: 15px;
    border-radius: 50%;
    font-size: 1.5rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.blue-icon {
    color: #3b82f6;
    background: #e0e7ff;
}
  
.purple-icon {
    color: #8b5cf6;
    background: #f5e2ff;
}
  
.green-icon {
    color: #10b981;
    background: #d1fae5;
}
  
.red-icon {
    color: #ef4444;
    background: #fee2e2;
}
  
.large-icon {
    width: 50px;
    height: 50px;
}
  
.small-icon {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
}
  
.positive {
    color: green;
}
  
.neutral {
    color: blue;
}
  
.negative {
    color: red;
}
  
.charts {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 2vw;
    width: 100%;
}
  
.category-chart,
.monthly-chart {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
  
.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.category-chart h2,
.monthly-chart h2 {
    font-size: 18px;
}
  
.category-chart button,
.monthly-chart button {
    margin: 0;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    color: #3b82f6;
    font-size: 1rem;
    cursor: pointer;
}
  
.category-chart button:hover,
.monthly-chart button:hover {
    color: #2563eb;
}
  
.available-reports {
    padding: 10px 20px;
}
  
.reports-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.reports-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 20px;
    font-size: 1rem;
}
  
.report {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 10px 20px;
}

.report:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.report-content {
    display: flex;
    align-items: center;
    gap: 20px;
}
  
.report-title {
    font-size: 1rem;
    font-weight: bold;
}
  
.report-description {
    font-size: 0.8rem;
    color: gray;
}

.report-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-size: 0.9rem;
}

.generate {
    display: block;
    color: #3498db;
    text-decoration: none;
}
  