<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraryHub</title>
    <link rel="stylesheet" href="/assets/components/admin-header/admin-header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <i class="fa-solid fa-book-open" style="color: rgb(96,165,250)"></i>
            <span>LibraryHub Admin</span>
        </div>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search...">
            <i class="fas fa-search search-icon"></i>
        </div>
        <div class="user-profile-icon">
            <img src="/assets/images/avatar.png" alt="avatar" class="avatar">
            <span class="username">Admin</span>
        </div>
    </header>
</body>
</html>
